<h1>Employee Info</h1>

<p>Employee Name: <%=@employee.first_name%> <%=@employee.last_name%></p>
<p>Employee Alias: <%=@employee.alias%></p>
<p>Employee Title: <%=@employee.title%></p>
<p>Employee Office: <%=@employee.office%></p>
<p>Employee Alias: <%=@employee.alias%></p>
<p>Employee Dog: <%= @employee.dog.name%></p>




