<h1><%= @employee.last_name%>, <%= @employee.first_name%></h1>
<br>
<img src = "<%=@employee.img_url%>" /><br>
Alias: <%= @employee.alias %><br>
Title: <%= @employee.title %><br>
Office: <%= @employee.office %><br>
Dog: <%= @dog.name %>
        